@import './variables';
@import '../fontawesome/scss/fontawesome.scss';
@import '../fontawesome/scss/solid.scss';
@import './events';

.fa-clock {
  position: relative;
  top: 1px;
}

.fa-li {
  top: 0.1px;
}

h2 {
  text-align: left;
}
