@import './variables';
@import '../fontawesome/scss/fontawesome.scss';
@import '../fontawesome/scss/solid.scss';
@import './events';

.fa-clock {
  position: relative;
  top: 1px;
}

.fa-li {
  top: 0.1px;
}
.blog-description {
  text-align: center;
}
h2 {
  text-align: left;
}

#gallery {
  .post-title {
    margin-bottom: 10px;
  }
}

.post-holder {
  background-color: var(--light);
  &.dark {
    background-color: var(--dark);
  }
}
