@use '../../global/screen.scss';

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  overflow: auto;

  side-bar {
    min-width: 240px;
    display: none;
    @include screen.atleastLargePhone() {
      display: initial;
    }
  }
}

main {
  flex: 1;
  overflow: auto;
}
