<audio class="bg-music" loop>
  <source src="audio/bg-music.mp3" type="audio/mpeg" />
</audio>
<a class="music-btn" onClick="togglePlay()"
  ><i class="fa-fw fas fa-music active-music-icon"></i>
  <i class="fa-fw fas fa-volume-xmark mute-icon"></i
></a>

<style>
  .music-btn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100000;
    padding: 8px 12px;
    background-color: var(--light);
    border-bottom-left-radius: 50%;
  }
  i {
    font-size: 2.5rem;
    color: #000;
  }
  .mute-icon {
    display: none;
  }

  .playing .active-music-icon {
    display: none;
  }
  .playing .mute-icon {
    display: initial;
  }
</style>

<script>
  var myAudio = document.querySelector('.bg-music')
  const musicBtn = document.querySelector('.music-btn')

  function togglePlay() {
    myAudio.paused ? myAudio.play() : myAudio.pause()
    musicBtn.classList.toggle('playing')
  }
</script>
