<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .bounce-in-top {
    animation: bounce-in-top 3s both;
  }

  @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }

    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }

    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }

    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }

    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }

    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }

    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }

    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }

  .blog-title,
  .blog-description {
    color: #f2efe8;
  }

  a.btn {
    background-color: #ff6200;
  }

  .blog-title {
    font-family: 'Tangerine', serif;
    font-size: 125px;
  }

  .roll-in-left {
    animation: roll-in-left 3.2s ease-out both;
  }

  .text-focus-in {
    animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      filter: blur(0);
      opacity: 1;
    }
  }

  @keyframes roll-in-left {
    0% {
      transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }

    100% {
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

  .blog-title,
  .blog-description {
    color: #f2efe8;
  }

  a.btn {
    background-color: #ff6200;
  }

  .blog-title {
    font-family: 'Tangerine', serif;
    font-size: 125px;
  }

  .blog-description {
    font-style: italic;
    font-size: 40px;
  }

  @media only screen and (max-width: 768px) {
    .blog-title {
      font-size: 70px;
    }
  }

  @media only screen and (max-width: 768px) {
    .blog-description {
      font-size: 25px;
    }
  }

  .custom-iframe,
  .google-map {
    width: 100%;
  }

  #lightgallery {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
  }

  #lightgallery .B_Roka_2 {
    align-self: end;
  }

  #site-head {
    background-image: url('images/cover-image.jpg');
  }

  @media only screen and (max-width: 768px) {
    #site-head {
      background-image: url('images/cover-image-mobile.jpeg');
    }
  }
</style>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery-bundle.min.css"
  integrity="sha512-nUqPe0+ak577sKSMThGcKJauRI7ENhKC2FQAOOmdyCYSrUh0GnwLsZNYqwilpMmplN+3nO3zso8CWUgu33BDag=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- <style>
     /* Links */
     a:hover {
         color: #b6b84c;
     }

     /* Header Buttons on Startpage */
     a.btn {
         color: white;
          background-color: #ced067;
     }
     a.btn:hover {
          background-color: #b6b84c;
     }

     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #b6b84c;
     }
     a.fn-item:hover {
          color: #ced067;
     }

     /* Content / Sections */
     .post-holder.odd {
          background: #B80135;
          color: white;
     }
     .post-holder {
          background: #f2efe8;
     }
     body {
          color: #3A4145;
     }

     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #22343A;
     }
</style> -->

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ " images/apple-touch-icon.png" | absURL }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ " images/favicon-32x32.png" | absURL }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ " images/favicon-16x16.png" | absURL }}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine" />
