div.container {
    background-color: white;
    height: 100%;
}

strong {
    font-size: 0.875rem;
    ~span {
        font-size: 0.75rem;
    }
}

.me {
    font-size: 0.75rem;
}

header {
    font-size: 1.375rem;
    font-weight: 600;
}