@use '../../global/helpers.scss';

.email {
  display: flex;
  background: rgba(255, 255, 255, 0.902);
  padding: 10px;
}

.from {
  flex: 2.5;
  font-weight: 600;
}

.text {
  flex: 12;
  @include helpers.ellipsis();

  .sub {
    font-weight: 600;
    white-space: nowrap;
  }
  .content {
    color: var(--color-dark);
    @include helpers.ellipsis();
    &::before {
      content: ' - ';
    }
  }
}

.time {
  flex: 1;
  font-weight: 600;
  text-align: right;
}
