:host {
  display: block;
}
.modal {
  background-color: rgba($color: #000000, $alpha: 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;

  side-bar {
    position: relative;
    display: block;
    height: 100%;
    width: 75%;
    transform: translateX(-100%);
    transition: transform 0.3s;
    background-color: #000000;

    &.loaded {
      transform: translateX(0);
    }
  }
}
