@use '../../global/helpers.scss';

ul {
  list-style-type: none;
  padding-left: 0;
  color: var(--color-light);
  background-color: rgba(white, 0.2);
  margin: 0;
  height: 100%;
  div {
    display: flex;
  }
}

x-icon {
  margin-right: 18px;
  --font-size: 20px;
}

.menu-item {
  padding: 10px 0;
  padding-left: 26px;
  padding-right: 12px;
  font-size: 0.875rem;
  > label {
    cursor: inherit;
  }
}

@include helpers.hover('a') {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  padding-right: 5px;
  display: block;

  &.active > div {
    background-color: rgba(255, 255, 255, 0.3);
    $rad: 20px;
    border-top-right-radius: $rad;
    border-bottom-right-radius: $rad;
  }
}
