{{ define "header" }}
  {{ partial "page-header.html" . }}
  {{ $style := resources.Get "scss/projects.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  {{ $js := resources.Get "ts/app/projects.ts" | js.Build }}
  <script type="module" src="{{ $js.Permalink }}"></script>
{{ end }}

{{ define "main" }}
  <div class="content-page">
    <div class="page-container">
      <h1 class="page-title">{{ .Title }}</h1>
      <div class="page-content">
        {{ .Content }}
      </div>
    </div>
  </div>
{{ end }}
