<span class="github-stars"></span>

<script data-url="{{ .Get "url" }}">
  ;(function () {
    const scriptEl = document.currentScript

    document.body.addEventListener('script-loaded', () => {
      const APP_NAME = 'web-dev-blog'

      const url = scriptEl.getAttribute('data-url')

      // 'https://github.com/HarshRohila/react-custom-events'
      window[APP_NAME].getStarsFromRepoUrl(url).then(stars => {
        const el = scriptEl.previousElementSibling

        if (!stars) {
          el.parentElement.style.display = 'none'
        } else {
          el.innerText = stars
        }
      })
    })
  })()
</script>
