<link rel="canonical" href="{{ .Permalink }}" /> <link rel="manifest" href="/manifest.json" />
<meta name="theme-color" content="#000000" />
<link rel="apple-touch-icon" href="/img/logo.png" />

<!-- Custom Font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
  rel="stylesheet"
/>
{{ $js := resources.Get "ts/app/index.ts" | js.Build }}
<script type="module" src="{{ $js.Permalink }}"></script>
