@import './variables';
@import '../../fontawesome/scss/fontawesome.scss';
@import '../../fontawesome/scss/regular.scss';
@import '../../fontawesome/scss/solid.scss';
@import '../../fontawesome/scss/brands.scss';

div.f4 {
  font-size: 1rem;
}

nav .home-nav {
  display: flex;
  align-items: center;
  img {
    height: 2.5rem;
    position: relative;
    bottom: 8px;
  }
}
@mixin phone() {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@include phone() {
  .header-text {
    display: none;
  }
  .title {
    font-size: 2rem;
  }
}

.fa-github {
  margin-left: 10px;
}
