@import './variables';
@import '../../scss/mixins';
@import '../../fontawesome/scss/fontawesome.scss';
@import '../../fontawesome/scss/regular.scss';
@import '../../fontawesome/scss/solid.scss';
@import '../../fontawesome/scss/brands.scss';

div.f4 {
  font-size: 1rem;
}

nav .home-nav {
  display: flex;
  align-items: center;
  img {
    height: 2.5rem;
    position: relative;
    bottom: 8px;
  }
}

@include phone() {
  .header-text {
    display: none;
  }
  .title {
    font-size: 2rem;
  }
}

.fa-github {
  margin-left: 10px;
}

.nested-links a {
  color: #a45454;
}

.post-cards {
  $bg_color: #fffffa;
  box-shadow: 0px 5px 10px 2px rgba(#3e2b1c, 0.1);
  background-color: $bg_color;
  border-radius: 10px;
  overflow: hidden;
  > div > div {
    background-color: $bg_color;
  }
}

.title-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.lh-title {
  margin: 0;
}
