@import './variables';
@import '../../scss/mixins';
@import '../../fontawesome/scss/fontawesome.scss';
@import '../../fontawesome/scss/regular.scss';
@import '../../fontawesome/scss/solid.scss';
@import '../../fontawesome/scss/brands.scss';

:root {
  --scrolled-px: 0;
}

html {
  background-color: black;
}

.home,
.fun {
  header {
    overflow: hidden;
    nav {
      --max-translateY: 230px;
      @include tabletAndBelow() {
        --max-translateY: 143px;
      }

      transition: transform;

      --translateY: Min(calc(1 * var(--scrolled-px) * 1px), var(--max-translateY));
      --transform: translateY(var(--translateY));
      transform: var(--transform);
    }
    .title-container {
      @include tabletAndBelow() {
        transform-origin: top left;
      }
      transform: scale(calc(1 - var(--scrolled-px) / var(--header-height)))
        translateY(calc(1 * var(--scrolled-px) * 1px));

      --opacity-speed: 2;
      @include tabletAndBelow() {
        --opacity-speed: 3;
      }

      --opacity: calc(1 - var(--opacity-speed) * var(--scrolled-px) / var(--header-height));
      opacity: var(--opacity);
    }
  }
}

.figtree {
  font-family: 'Figtree', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nested-copy-line-height {
  margin-top: 0.5rem;
}

div.f4 {
  font-size: 1rem;
}

nav .home-nav {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 6px 10px;
  border-radius: 10px;
  width: fit-content;
  img {
    height: 2.5rem;
    position: relative;
    bottom: 5px;
  }
}

.header-text {
  display: none;
}

@include phone() {
  .title {
    font-size: 2rem;
  }
}

.fa-github {
  margin-left: 10px;
}

.nested-links a {
  color: #a45454;
}

.post-cards {
  $bg_color: #fffffa;
  box-shadow: 0px 5px 10px 2px rgba(#3e2b1c, 0.1);
  background-color: $bg_color;
  border-radius: 10px;
  overflow: hidden;
  > div > div {
    background-color: $bg_color;
  }
}

.title-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.lh-title {
  margin: 0;
}
.cover-image-container {
  display: flex;
  justify-content: center;
}

.custom-canvas {
  display: flex;
  justify-content: center;
}

@include phone() {
  .home,
  .fun {
    [role='navigation'] {
      padding-bottom: 0;
    }

    main > article {
      display: none;
    }
    main > div > h1 {
      margin-bottom: 0;
      font-size: 1.5rem;
    }

    .nested-copy-line-height {
      text-align: justify;
    }
  }
  .posts {
    time,
    time ~ span {
      margin: 0;
    }
  }
}
