{{ define "header" }}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  <div class="content-page">
    <div class="page-container">
      <h1 class="page-title">{{ .Title }}</h1>
      <div class="page-content">
        {{ .Content }}
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
  {{ $js := resources.Get "ts/app/exp-chart.ts" | js.Build }}
  <script type="module" src="{{ $js.Permalink }}" defer></script>
{{ end }}
